<div class="row">
	<div class="large-12 columns color"></div>
	<div class="large-12 columns blank"></div>
</div>
<div class="row">
	<div class="large-7 columns sandwich" >
		<%= @sandwich %><br>
		<%= @with %><br>
		<%= @ingredients %><br>
	</div>
	<div class="large-5 columns">
		<%= image_tag "#{@sub_image}" %>
	</div>
</div>
<div class="row">
	<div class="large-12 columns blank"></div>
	<div class="small-3 smallcolumns">
		<%= link_to "#{@button}" , 'index', :class => 'button success tiny round' %>
	</div>
</div>



